#new-task
  margin-top: 60px
  form
    .title-input
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
      margin-bottom: 0.2rem
    .description-input
      border-top-left-radius: 0
      border-top-right-radius: 0
